<ion-header class="ion-toolbar-custom" style="z-index:200;">
  <ion-toolbar>
    <ion-title *ngIf="card"> Busca de Pets </ion-title>
    <ion-title *ngIf="selected"> Detalhes </ion-title>
    <ion-title *ngIf="filtrar"> Filtro </ion-title>

     <ion-buttons right *ngIf="card" class="margin_right" margin-right="10">
      <button ion-button (click)="abrirFiltro()" class="my-style-for-modal"> 
        <img src="assets/filtro.svg" alt="" class="arrow_color">
      </button>
     </ion-buttons> 

    <ion-buttons left *ngIf="selected">
      <button ion-button icon-only (click)="cleanPet()" class="my-style-for-modal">
        <ion-icon name="arrow-back" class="arrow_color"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons left *ngIf="filtrar">
        <button ion-button icon-only (click)="cleanFiltro()" class="my-style-for-modal">
        <ion-icon name="close" class="arrow_color"></ion-icon>
      </button>
        </ion-buttons>

    <ion-buttons right margin-right="5" *ngIf="selected">
      <button ion-button icon-only (click)="setFavorite(selec._id)" class="imgframe unfavorited"></button>
    </ion-buttons>

    <ion-buttons most right *ngIf="selected">
      <button ion-button icon-only (click)="cleanPet()" class="my-style-for-modal">
        <ion-icon name="share" class="arrow_color"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content style="z-index:100; position: fixed; background-color: #F6F6F6; height: 100%; width: 100%;"
  [ngClass]="{'hideThing' : !selected && !filtrar}">

  <!-- TELA COM A DESCRIÇÃO DOS CARDS -->
  
  <ion-list *ngIf="selected">
    <div class="item_list_pet box-shadow-blur">
      <ion-slides pager="true">
        <ion-slide *ngFor="let foto of selected.fotos" [style.background-image]="'url(' + foto + ')'" class="img_pet">
        </ion-slide>
      </ion-slides>
    </div>

    <div class="align_dados_gerais">
      <strong> DADOS GERAIS </strong>
    </div>

    <div class="descricao_frame items_details box-bordered-shadow-blur">
      <table class="tabela_detalhes">
        <tr>
          <td class="nome_animal"><strong> {{ selected.nome }} </strong></td>
          <td></td>
          <td></td>
        </tr>

        <br>
        <tr>
          <td><strong> Espécie: </strong> {{ selected.especie }} </td>
          <td></td>
          <td><strong> Gênero: </strong> {{ selected.genero }} </td>
        </tr>

        <tr>
          <td><strong> Idade: </strong> {{ selected.idade }} </td>
          <td></td>
          <td><strong> Porte: </strong> {{ selected.porte }} </td>
        </tr>

        <tr>
          <td><strong> Situação: </strong> {{ selected.situacao }} </td>
        </tr>
      </table>
    </div>

    <div class="align_dados_gerais">
      <strong> DESCRIÇÃO </strong>
    </div>

    <div class="descricao_frame items_details box-bordered-shadow-blur">
      <table class="tabela_detalhes">
        <tr>
          <td class="icon_size_td">
            <ion-icon name="md-paw" class="my_icon"></ion-icon>
          </td>
          <td> {{ selected.descricao }} </td>
        </tr>
      </table>
    </div>

    <div class="align_dados_gerais">
      <strong> LOCALIZAÇÃO </strong>
    </div>

    <div class="descricao_frame items_details box-bordered-shadow-blur">
      <table class="tabela_detalhes">
        <tr>
          <td class="icon_size_td">
            <ion-icon name="pin" class="my_icon"></ion-icon>
          </td>
          <td> {{ calculateDistance(selected.local) }} </td>
        </tr>
      </table>
    </div>

    <div class="align_dados_gerais margem_div">
      <strong> SAÚDE </strong>
    </div>

    <div class="descricao_frame items_details box-bordered-shadow-blur">
      <table class="tabela_detalhes">
        <tr>
          <td class="icon_size_td"> <img src="assets/castration.svg" alt="" class="my_icon" /> </td>
          <td><strong> Castrado: </strong> {{ selected.castrado }} </td>
        </tr>
      </table>
    </div>

    <div class="descricao_frame items_details box-bordered-shadow-blur">
      <table class="tabela_detalhes">
        <tr>
          <td class="icon_size_td"> <img src="assets/vaccine.svg" alt="" class="my_icon" /> </td>
          <td class="ajustar_cel"><strong> Vacinado: </strong> {{ selected.vacinado }} </td>
        </tr>
      </table>
    </div>

    <div class="descricao_frame items_details box-bordered-shadow-blur">
      <table class="tabela_detalhes">
        <tr>
          <td class="icon_size_td"> <img src="assets/pills.svg" alt="" class="my_icon" /> </td>
          <td><strong> Vermifugado: </strong> {{ selected.vermifugado }} </td>
        </tr>
      </table>
    </div>

    <br>
    <div class="align_dados_gerais">
      <strong> CADASTRADO POR </strong>
    </div>

    <div class="descricao_frame items_details box-bordered-shadow-blur">
      <table class="tabela_detalhes">
        <tr>
          <td class="icon_size_td">
            <ion-icon name="contact" class="my_icon"></ion-icon>
          </td>
          <td><strong> Cuidador: </strong> {{ selected.nomeCuidador }} </td>
        </tr>
      </table>
    </div>

    <br>
    <div class="centralizar">
      <button (click)="goChat()" ion-button class="u-button-color"> Conversar </button>
    </div>
  </ion-list>

  <!-- TELA DE FILTRO -->

  <ion-list *ngIf="filtrar">
    <div class ="margem_filtro">
        <ion-item>
          <ion-label><strong> ESPÉCIE: </strong></ion-label>
            <ion-select [(ngModel)]="especie" multiple="false">
              <ion-option><strong> Cachorro </strong></ion-option>
              <ion-option><strong> Gato </strong></ion-option>
            </ion-select>
          </ion-item>
      </div>
    
      <div class ="margem_filtro">
        <ion-item>
          <ion-label><strong> GÊNERO: </strong></ion-label>
            <ion-select [(ngModel)]="genero" multiple="false">
              <ion-option><strong> Macho </strong></ion-option>
              <ion-option><strong> Fêmea </strong></ion-option>
            </ion-select>
        </ion-item>   
      </div>
      
      <div class ="margem_filtro">
        <ion-item>
          <ion-label><strong> SITUAÇÃO: </strong></ion-label>
            <ion-select [(ngModel)]="situacao" multiple="false">
              <ion-option><strong> Adoção </strong></ion-option>
              <ion-option><strong> Doação </strong></ion-option>
             </ion-select>
        </ion-item>
      </div>
      
      <div class ="margem_filtro">
          <ion-item>
            <ion-label><strong> PORTE: </strong></ion-label>
              <ion-select [(ngModel)]="porte" multiple="false" class="test">
                <ion-option><strong> Pequeno </strong></ion-option>
                <ion-option><strong> Médio </strong></ion-option>
                <ion-option><strong> Grande </strong></ion-option>
              </ion-select>
          </ion-item>   
        </div>
        
        <div class ="margem_filtro">
          <ion-item>
            <ion-label><strong> IDADE: </strong></ion-label>
              <ion-select [(ngModel)]="idade" multiple="false">
                <ion-option><strong> Filhote </strong></ion-option>
                <ion-option><strong> Adulto </strong></ion-option>
                <ion-option><strong> Idoso </strong></ion-option>
               </ion-select>
          </ion-item>
        </div>  
                
        <br><br><br>
        <div>
          <Strong>DISTÂNCIA</Strong>
        </div>
         <div>
          <ion-item>
            <ion-range>
              <ion-icon range-left small></ion-icon>
              <ion-icon range-right> 45 Km </ion-icon>
            </ion-range>
          </ion-item>
        </div>
              
        <br><br><br>
        <div class="centralizar">
          <button (click)="goChat()" ion-button class="u-button-color"> Aplicar Filtros </button>
        </div>
</ion-list>
</ion-content>

             

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshPetList($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-spinner class="custom-ion-spinner" *ngIf="isLoading"></ion-spinner>
  <ion-list>
    <div *ngFor="let item of (results | async)">
      <div class="item_list_pet box-shadow-blur" (click)="selectPet(item, $event)">
        <div class="imgframe_pet" [style.background-image]="'url(' + getImgUrl(item, 0) + ')'"> </div>
        <div class="descricao_frame">
          <table class="detalhes_table">
            <tr>
              <td class="nome_animal"><strong>{{ item.nome }}</strong></td>
              <td></td>
            </tr>
            <tr>
              <td>Gênero: {{ item.genero }}</td>
              <td>Porte: {{ item.porte }}</td>
              <div class="imgframe unfavorited" (click)="setFavorite(item._id)"> </div>
            </tr>
            <tr>
              <td>Idade: {{ item.idade }}</td>
              <td>Situação: {{ item.situacao }}</td>
            </tr>
          </table>
          <br>
        </div>
      </div>
    </div>
  </ion-list>
</ion-content>