page-tab5 {
  .welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
  }

  .img_frame {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: calc(100% - 50px);
  }

  .item_list_pet {
    color: #9b9b9b;
    margin: 10px;
    border-radius: 10px;
  }

  .imgframe_profile {
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
    background-size: 100% 100%;
    margin: 0 auto;
  }

  .box-shadow-blur {
    box-shadow: 0px 0px 5px grey;
  }

  .descricao_frame {
    margin: 15px !important;
  }

  .detalhes_table {
    color: #9b9b9b;
  }

  .nome_animal {
    color: #000000;
  }

  .center_text {
    text-align: center;
  }

  .my_icon {
    color: #9575cd;
    font-size: 30px;
  }

  .icon_size_td {
    width: 45px;
    vertical-align: middle;
    text-align: center;
  }

  .full_space {
    width: 100%;
  }

  .extra_padding {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .arrow_color {
    margin-right: 10px;
    color: #ffffff;
    font-size: 30px;
  }

  .custom-ion-spinner {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .item_list_pet_new {
    margin: 10px;
    border-radius: 20px;
  }

  .imgframe_pet {
    border-radius: 20px 20px 0 0;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 230px;
    background-size: 100% 100%;
  }

  .box-shadow-blur_new {
    box-shadow: 0px 0px 10px grey;
  }

  .detalhes_table_new {
    color: #9b9b9b;
    width: 100%;
  }

  .hideThing {
    visibility: hidden;
  }

  .imgframe {
    background-size: 100% 100%;
    width: 25px;
    height: 25px;
  }

  .imgframe.favorited {
    background-image: url(../assets/icon-heart-filled.svg);
  }

  .imgframe.unfavorited {
    background-image: url(../assets/icon-heart-unfilled.svg);
  }

  .box-bordered-shadow-blur {
    box-shadow: 0px 0px 0px 5px white;
  }

  .background_div_color {
    color: #ffffff;
  }

  .items_details {
    margin: 20px;
    border-radius: 5px;
  }

  .tabela_detalhes {
    color: #9b9b9b;
    background-color: white;
    width: 100%;
  }

  .align_dados_gerais {
    size: 5px;
    margin: 15px !important;
  }

  .my_icon_new {
    width: 20px;
    margin-left: 10px;
    color: #9575cd;
    font-size: 20px;
  }

  .icon_size_td_new {
    width: 45px;
    vertical-align: top;
    text-align: left;
  }

  .align_favoritos {
    width: 45px;
    vertical-align: middle;
    text-align: right;
  }

  .img_pet {
    border-radius: 10px 10px 10px 10px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 230px;
    background-size: 100% 100%;
  }

  .centralizar {
    text-align: center;
  }

  .margem_tr {
    margin-top: 15px;
  }

  /* Olhar depois */
  
  ion-slide {
    height: calc(100vh - 113px);
    flex-direction: column;
    color: #9575cd;
  }

  .error {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    color: #d9534f;
    font-size: 12px;
  }

  .item_list {
    color: #9b9b9b;
    margin: 10px;
    border-radius: 10px;
  }

  .descricao_frame_new {
    padding-bottom: 10px;
    text-align: left;
    margin: 15px !important;
  }

  .text_title_add {
    margin-bottom: 0px;
    margin-top: 5px;
    margin-left: 16px;
  }

  .imgframe_new {
    margin: 20px;
    margin-bottom: 5px;
    background-size: 100% 100%;
    width: 100px;
    height: 100px;
    border-radius: 100px;
  }

  .img_activated {
    border: 2px solid;
    border-color: #9575cd;
  }

  .td_activated {
    font-weight: 600;
  }

  table.center {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .image_frame_add {
    margin: 5px;
    box-shadow: 0px 0px 5px grey;
    color: #9575cd;
    line-height: 100px;
    width: 100px;
    height: 100px;
    border-radius: 20px;
  }

  .img_inside {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }

  .full_width {
    width: 100%;
  }

  .multiple-size {
    max-width: calc(100vw - 210px);
  }

  .list-ios {
    margin-bottom: 15px;
  }

  .u-button-color {
    width: 200px;
    border-radius: 45px;
    background-color: #9575cd !important;
  }

  .imgframe_new.dog {
    background-image: url(../assets/dog-option.svg);
  }

  .imgframe_new.cat {
    background-image: url(../assets/cat-option.svg);
  }

  .imgframe_new.macho {
    background-image: url(../assets/dog-option.png);
  }

  .imgframe_new.femea {
    background-image: url(../assets/cat-option.png);
  }

  .scroll-content {
    padding-bottom: 0px !important;
  }
}
