<ion-header class="ion-toolbar-custom" style="z-index:200;">
  <ion-toolbar>
    <ion-title> Chat </ion-title>

    <ion-buttons left *ngIf="selected">
      <button ion-button icon-only (click)="clearSelected()" class="my-style-for-modal">
        <ion-icon name="arrow-back" class="arrow_color"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content [ngClass]="{'hideThing' : selected}">
  <ion-refresher slot="fixed" (ionRefresh)="refreshPetList($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-spinner class="custom-ion-spinner" *ngIf="isLoading"></ion-spinner>
  <ion-list *ngIf="results">
    <ion-item-sliding *ngFor="let chat of results">
      <ion-item button (click)="selectChat(chat.chatId)">
        <ion-avatar item-start>
          <img [src]="chat.pet.fotos[0]">
        </ion-avatar>
        <ion-label>
          <h4 class="channel-name">
            {{chat.pet.nome}}
          </h4>
          <p class="last-message">
            {{firebase.auth().currentUser.uid === chat.adotante.id ? chat.cuidador.nome : chat.adotante.nome}}
          </p>
        </ion-label>
        <ion-note item-end>
          {{chat.lastMsg}}
        </ion-note>
      </ion-item>
      <!-- 
      <ion-item-options side="end">
        <button (click)="leaveChannel(channel)" color="danger" expandable>
          <ion-icon name="trash"></ion-icon>
          Remove
        </button>
      </ion-item-options> -->
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-content #tabelaDeMsgs [ngClass]="{'hideThing' : !selected}" style="height: 100%;"
  [scrollTop]="tabelaDeMsgs.scrollHeight">
  <ion-refresher slot="fixed" (ionRefresh)="refreshPetList($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-spinner class="custom-ion-spinner" *ngIf="isLoading"></ion-spinner>

  <ion-grid *ngIf="chat" style="width: 100%; height: 100%;">
    <ion-row *ngFor="let msg of chat.msgs">
      <ion-col col-9 *ngIf="firebase.auth().currentUser.uid === msg.user" class="message"
        [ngClass]="{'mymessage': firebase.auth().currentUser.uid !== msg.user, 'othermessage': firebase.auth().currentUser.uid === msg.user}">
        <span>{{ msg.msg }}</span>
        <div class="time">{{msg.time | date:'dd.MM hh:MM'}}</div>
      </ion-col>

      <ion-col offset-3 col-9 *ngIf="firebase.auth().currentUser.uid !== msg.user" class="message"
        [ngClass]="{'mymessage': firebase.auth().currentUser.uid !== msg.user, 'othermessage': firebase.auth().currentUser.uid === msg.user}">
        <span>{{ msg.msg }}</span>
        <div class="time">{{msg.time | date:'dd.MM hh:MM'}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>



<ion-footer [ngClass]="{'hideThing' : !selected}" style="height: 50px;">
  <table style="width: 100%;">
    <tr>
      <td>
        <ion-textarea [(ngModel)]="mensagem" class="message-input" placeholder="Digite a mensagem" rows="1"
          autocapitalize="off" (keydown.enter)="addMessage();false"></ion-textarea>
      </td>
      <td>
        <button color="primary" (click)="addMessage()">
          <ion-icon slot="icon-only" name="md-send"></ion-icon>
        </button>
      </td>
    </tr>
  </table>
</ion-footer>