page-tab4 {

    .margem{
      
      margin-top: 130%;
      //margin-bottom: 1;
      //vertical-align: bottom;  
    }

    .arrow_color {
      margin-right: 10px;
      color: #ffffff;
      font-size: 30px;
    }
}
