<ion-header>
  <ion-toolbar>
    <ion-title>
      Adicionar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #mySlider pager="true">
    <ion-slide class="step-one">
      <div>
        <div class="linha">
          <h1>Qual a espécie?</h1>
          <table class="center">
            <tr>
              <td>
                <div class="imgframe dog" (click)="dog()" [ngClass]="{'img_activated' : animal === 0}">
                </div>
              </td>
              <td>
                <div class="imgframe cat" (click)="cat()" [ngClass]="{'img_activated' : animal === 1}">
                </div>
              </td>
            </tr>
            <tr>
              <td (click)="dog()" [ngClass]="{'td_activated' : animal === 0}">Cachorro</td>
              <td (click)="cat()" [ngClass]="{'td_activated' : animal === 1}">Gato</td>
            </tr>
          </table>
          <button ion-button (click)="next()" class="u-button-color">Continuar</button>
        </div>
      </div>
    </ion-slide>

    <ion-slide class="step-two">
      <div>
        <div class="linha">
          <h1>É menino ou menina?</h1>
          <table class="center">
            <tr>
              <td>
                <div class="imgframe macho" (click)="menino()" [ngClass]="{'img_activated' : sexo === 0}">
                </div>
              </td>
              <td>
                <div class="imgframe femea" (click)="menina()" [ngClass]="{'img_activated' : sexo === 1}">
                </div>
              </td>
            </tr>
            <tr>
              <td (click)="menino()" [ngClass]="{'td_activated' : sexo === 0}">Menino</td>
              <td (click)="menina()" [ngClass]="{'td_activated' : sexo === 1}">Menina</td>
            </tr>
          </table>
          <button ion-button (click)="next()" class="u-button-color">Continuar</button>
        </div>
      </div>
    </ion-slide>

    <ion-slide class="step-three">
      <div>
        <div class="linha">
          <h1>Dados do Pet:</h1>
          <div class="item_list box-shadow-blur center_text">
            <div class="descricao_frame">
              <table class="detalhes_table">
                <tr>
                  <td>
                    <ion-icon name="md-book"></ion-icon>
                  </td>
                  <td>
                    <p class="text_title_add"><strong>Descreva como encontrou o Pet:</strong></p>
                    <ion-item>
                      <ion-input placeholder="Descrição" [(ngModel)]="descricao"></ion-input>
                    </ion-item>
                    <h6 *ngIf="descricaoError" class="error"> {{descricaoErrorMessage}}</h6>
                  </td>
                </tr>
                <tr>
                  <td>
                    <ion-icon name="md-paw"></ion-icon>
                  </td>
                  <td>
                    <p class="text_title_add"><strong>Qual o nome do Pet:</strong></p>
                    <ion-item>
                      <ion-input placeholder="Pode inventar" [(ngModel)]="nome"></ion-input>
                    </ion-item>
                    <h6 *ngIf="nomeError" class="error"> {{nomeErrorMessage}}</h6>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <button ion-button (click)="validatePetData()" class="u-button-color">Continuar</button>
        </div>
      </div>
    </ion-slide>

    <ion-slide class="step-four">
      <div>
        <div class="linha">
          <h1>Qual o porte?</h1>
          <ion-list radio-group [(ngModel)]="porte">
            <ion-item>
              <ion-label>Pequeno</ion-label>
              <ion-radio slot="end" value="0" checked></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Médio</ion-label>
              <ion-radio slot="end" value="1"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Grande</ion-label>
              <ion-radio slot="end" value="2"></ion-radio>
            </ion-item>
          </ion-list>
          <button ion-button (click)="next()" class="u-button-color">Continuar</button>
        </div>
      </div>
    </ion-slide>

    <ion-slide class="step-five">
      <div>
        <div class="linha">
          <h1>Qual a idade aproximada?</h1>
          <ion-list radio-group [(ngModel)]="idade">
            <ion-item>
              <ion-label>Filhote</ion-label>
              <ion-radio slot="end" value="0" checked></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Adulto</ion-label>
              <ion-radio slot="end" value="1"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Idoso</ion-label>
              <ion-radio slot="end" value="2"></ion-radio>
            </ion-item>
          </ion-list>
          <button ion-button (click)="next()" class="u-button-color">Continuar</button>
        </div>
      </div>
    </ion-slide>

    <ion-slide class="step-six">
      <div>
        <div class="linha">
          <h1>Adicione fotos dele</h1>
          <table class="center">
            <tr>
              <td>
                <input type="file" #fileupload0 id="fileupload0" value="" (change)="fileChange($event,0)"
                  accept="image/*" capture="camera" style="display:none">
                <div class="image_frame_add" (click)="!img0 ? ((this.platform.is('core') || this.platform.is('mobileweb')) ? fileupload0.click() : takePicture(0)) : cleanIMG(0)">
                  <ion-icon *ngIf="!img0" name="md-add"></ion-icon><img class="img_inside" *ngIf="img0" [src]="img0" />
                </div>
              </td>

              <td>
                <input type="file" #fileupload1 id="fileupload1" value="" (change)="fileChange($event,1)"
                  accept="image/*" capture="camera" style="display:none">
                <div class="image_frame_add" (click)="!img1 ? ((this.platform.is('core') || this.platform.is('mobileweb')) ? fileupload1.click() : takePicture(1)) : cleanIMG(1)">
                  <ion-icon *ngIf="!img1" name="md-add"></ion-icon><img class="img_inside" *ngIf="img1" [src]="img1" />
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <input type="file" #fileupload2 id="fileupload2" value="" (change)="fileChange($event,2)"
                  accept="image/*" capture="camera" style="display:none">
                <div class="image_frame_add" (click)="!img2 ? ((this.platform.is('core') || this.platform.is('mobileweb')) ? fileupload2.click() : takePicture(2)) : cleanIMG(2)">
                  <ion-icon *ngIf="!img2" name="md-add"></ion-icon><img class="img_inside" *ngIf="img2" [src]="img2" />
                </div>
              </td>

              <td>
                <input type="file" #fileupload3 id="fileupload3" value="" (change)="fileChange($event,3)"
                  accept="image/*" capture="camera" style="display:none">
                <div class="image_frame_add" (click)="!img3 ? ((this.platform.is('core') || this.platform.is('mobileweb')) ? fileupload3.click() : takePicture(3)) : cleanIMG(3)">
                  <ion-icon *ngIf="!img3" name="md-add"></ion-icon><img class="img_inside" *ngIf="img3" [src]="img3" />
                </div>
              </td>
            </tr>
          </table>
          <h6 *ngIf="photoError" class="error"> {{photoErrorMessage}}</h6>
          <button ion-button (click)="validatePetPhotos()" class="u-button-color">Continuar</button>
        </div>
      </div>
    </ion-slide>

    <ion-slide class="step-seven">
      <div class="full_width">
        <div class="linha">
          <h1>Só mais algumas coisinhas:</h1>
          <div class="item_list box-shadow-blur center_text">
            <div class="descricao_frame">
              <table class="detalhes_table">
                <!-- <tr>
                  <td>
                    <ion-icon name="md-pin"></ion-icon>
                  </td>
                  <td>
                    <ion-item>
                      <ion-input placeholder="Onde você o encontrou?" [(ngModel)]="local"></ion-input>
                    </ion-item>
                    <h6 *ngIf="localError" class="error"> {{localErrorMessage}}</h6>
                  </td>
                </tr> -->

                <tr>
                  <td>
                    <ion-icon name="md-information-circle"></ion-icon>
                  </td>
                  <td>
                    <ion-item>
                      <ion-label>Situação:</ion-label>
                      <ion-select placeholder="Selecione" [(ngModel)]="situacao">
                        <ion-option value="0">Adoção</ion-option>
                        <ion-option value="1">Perdido</ion-option>
                      </ion-select>
                    </ion-item>
                    <h6 *ngIf="situacaoError" class="error"> {{situacaoErrorMessage}}</h6>
                  </td>
                </tr>

                <tr>
                  <td>
                    <ion-icon name="md-star"></ion-icon>
                  </td>
                  <td>
                    <ion-item>
                      <ion-label>O Pet já foi:</ion-label>
                      <ion-select placeholder="Selecione" multiple class="multiple-size" [(ngModel)]="foi">
                        <ion-option value="0">Castrado</ion-option>
                        <ion-option value="1">Vacinado</ion-option>
                        <ion-option value="2">Vermifugado</ion-option>
                      </ion-select>
                    </ion-item>
                  </td>
                </tr>

              </table>
            </div>
          </div>
          <button ion-button (click)="validateGeneralInformationData()" class="u-button-color">Adicionar Pet</button>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>